<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Report Group Editor</title>

    <script type="text/javascript" src="lib/jquery-1.7.2.min.js"></script>

    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>

    <!-- include spec files here... -->
    <!--<script type="text/javascript" src="src/GameOfLife.js"></script>-->

    <script type="text/javascript">

        $(document).ready(function(){

        });

    </script>

<body>


    <ul id="reportGroupList"></ul>

    <script type="text/template" id="moobar">
        <li><%= id %> - <%= name %></li>
    </script>

    <script type="text/javascript" src="src/ReportGroupTestDataCreator.js"></script>
    <script type="text/javascript" src="src/ReportGroupApplication.js"></script>


</body>
</html>